<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
          
          </li>
          <li>
            <a >
              About Us
            </a>
          </li>
          <li>
            <a >
              Blog
            </a>
          </li>
          <li>
            <a >
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right" id="date">
        , made with <i class="material-icons">favorite</i> by
        <a href="https://www.facebook.com/safwene12" target="_blank">Safouane Jelassi</a>
      </div>
    </div>
  </footer>