<div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-center">
      <div class="avatar">
        <img src="../assets/img/profilePictures/{{message.userEnv.photo}}" alt="Avatar" height="50" width="200" class="rounded-circle user-avatar-md">
      </div>
      <div class="sender d-flex align-items-center">
        <a href="#">{{message.userEnv.username}}</a> <span>to</span><a href="#">me</a>
        
      </div>
    </div>
    <div class="date">{{((message.date.toString()).split("T")[0]).split("-")[2]}}/{{((message.date.toString()).split("T")[0]).split("-")[1]}},{{(((message.date.toString()).split("T")[1])).split(":")[0]}}:{{(((message.date.toString()).split("T")[1])).split(":")[1]}}</div>
  </div>
  <div class="email-body">
    <b>Object : </b> {{message.objet}}<br><br>
    <p>{{message.message}}</p>
    
  </div>
  <div class="email-attachments">
    <div class="title">Attachments <span>(3 files, 12,44 KB)</span></div>
    <ul>
      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> Reference.zip <span class="text-muted tx-11">(5.10 MB)</span></a></li>
      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> Instructions.zip <span class="text-muted tx-11">(3.15 MB)</span></a></li>
      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> Team-list.pdf <span class="text-muted tx-11">(4.5 MB)</span></a></li>
    </ul>
  </div>